<% layout("/layouts/boilerplate")%>
<div class="alerts">
    <div class=" alert alert-danger d-flex align-items-center alertss" role="alert">
    <div>
        <h3><i class="fa-solid fa-triangle-exclamation"></i><%=err.message%></h3>
    </div>
    </div>
</div>
