<footer>
    <div class="footerMain">
        <div class="f-info-social">
            <a href="https://www.instagram.com/__._.nikhil._._/?hl=en" class="icons"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/__._.nikhil._._/?hl=en" class="icons"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.instagram.com/__._.nikhil._._/?hl=en" class="icons"><i class="fa-brands fa-discord"></i></a>
        </div>
        <div> &copy; wanderLust private limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>