<% if(successMsg && successMsg.length){%>
    <div class="alert alert-success successStyle" role="alert">
        <%=successMsg%>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<%}%>

