body{
    font-family: "Spectral", serif 
}

.navbar{
    height: 10vh;
    font-size: larger;
    background-color: rgba(255,255,255,0.5) !important;
    
}

.nav-link{
    color: black !important;
}

.icons{
    color:black;
}

.f-info-links a{
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-social{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    gap:0.5vw;
}

.footerMain{
    width: 100%;
    background-color: rgba(232, 232, 232, 0.771);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
}

.btnAdjust{
    display: flex;
    justify-content: space-between;
}

.row{
    justify-content: space-around;
}

.img-container {
  width: 100%;       /* set desired size */
  max-height: 15rem;
  margin-top: 3%;
  overflow: hidden;   /* hides overflow */
  border-radius: 10px; /* optional rounded corners */
}


.img-container img {
  width: 100%;
  height: 15rem;
  object-fit: cover;  /* crops and fills the container */
}

.img-container img:hover{
    opacity: 0.8;
}
.card{
    border-radius: 20px !important;
    margin-bottom: 2%;
}

.col{
    display: flex !important;
    height: 20rem !important;
}

.btnAdjust{
    margin-top: auto;
    display: flex;
    justify-content: space-around;
}



.card-body{
    display: flex;
    flex-direction: column;
}

.place{
    display: flex;
    flex-direction: row;

}
.info{
    width:50%;
}

.form-div{
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idInder-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idInder-div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link{
    color:#eb6b76;
}

.picture{
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
    border-radius: 10px;
}