body{
    font-family: "Spectral", serif 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}

.navbar{
    height: 10vh;
    font-size: larger;
    background-color: rgba(255,255,255,1) !important;
    
}

.nav-link-add{
    color:#2d2d2d !important;
    text-decoration: none !important;
}

.nav-link{
    color: #c05861 !important;
    font-weight: 635 !important;
}

.icons{
    color:black;
}

.f-info-links a{
    text-decoration: none;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-social{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
    gap:0.5vw;
}

.footerMain{
    width: 100%;
    background-color: rgba(232, 232, 232, 0.771);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12vh;
}

.usernameStyle{
    width: 100% !important;
}


.userMain{
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formUserMain{
    width: 55%;
}

.formUser{
    display: flex;
    flex-direction: column;
}

.btnAdjust{
    display: flex;
    justify-content: space-around;
}

.row{
    justify-content: space-around;
}

.img-container {
  width: 100%;       /* set desired size */
  max-height: 15rem;
  margin-top: 3%;
  overflow: hidden;   /* hides overflow */
  border-radius: 10px; /* optional rounded corners */
}


.img-container img {
  width: 100%;
  height: 15rem;
  object-fit: cover;  /* crops and fills the container */
}

.img-container img:hover{
    opacity: 0.8;
}
.card{
    border-radius: 20px !important;
    margin-bottom: 2%;
}

.colEditBoot{
    display: flex !important;
    height: 20rem !important;
}

.reviewBody{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.validationFlex{
    min-height: 78vh;
    width: 70vw;
    height: auto;
    width: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.card-body{
    display: flex;
    flex-direction: column;
}

.place{
    display: flex;
    flex-direction: row;

}
.info{
    width:50%;
}
.bodyNew{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.form-div{
    width: 50%;
}

.idInder-body{
    height: 78vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idInder-div{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    

}

.idReview{
    display: flex;
    justify-content: flex-start;
    padding-left: 12vw;
    padding-right: 12vw;
    width: 100%;
    margin-bottom: 1vh;
}

.mainReview{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 75%;
}

.formReview{
    display: flex ;
    flex-direction: column;
    width: 75%;
    gap:1vh;
}


.image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.starColor{
    color: #f7da00;
}

.rating{
    display: flex;
}

.form-range{
    width: 35% !important;
}

.navlogo{
    color: #2d2d2d;
    font-weight: 500;
}

.flexFluid{
    display: flex !important;
    flex-direction: row !important;
}

.switchTax{
    margin-left: auto;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1vw;
}

.mapHeading{
    align-self: flex-start;
}

.mapDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12vw;
    padding-right: 12vw;
    
}

.searchDiv{
    min-height: 68vh !important;
}

.setNav1{
    padding-left: 1% !important;
    font-size: 1rem !important;
    width: 20% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
}

.filters{
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    height: 8vh;
    gap:0.5vw;
    margin-top:1vh;
    margin-bottom: 1vh;
    border-bottom: 0.10vh solid rgba(0, 0,0, 0.2);
}

.filter{
    text-decoration: none;
    color: black;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 5vw;
}

@media (max-width:1520px) {
    .filter{
        font-size: 0.7rem;
    }
    .filters{
        height: 6vh;
    }
    
}

@media (max-width:1050px) {
    .filter{
        font-size: 0.6rem;
    }
    .filters{
        height: 4vh;
    }
}

@media (max-width:900px){
    .filter span{
        display:none;
    }
}

.filter:hover{
    opacity: 0.8;
}
.setNav2{
    width: 50% !important;
}

@media (max-width:770px) {
    .setNav3Background{
        background-color: rgba(255,255,255,0.5) !important
    }
}


@media (min-width:770px) {
    .setNav3{
        width: 30% !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }
    
}



@media (max-width:1020px) {
    .setNav3{
        font-size: 0.8rem !important;
    }
    .setNav1 a{
        font-size: 0.75rem !important;
    }
    .setNav2{
        font-size: 0.8rem !important;
    }
}

.searchInput{
    color: #c05861 !important;
    font-size: large !important;
    font-weight: 550 !important;
}

.searchInput:focus {
    border-color: red !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.4) !important;
}

.searchName{
    color: #c05861 !important;
}

.searchH5{
    padding-left: 1vw !important;
}


.searchButton{
    height: 5vh !important;
    width: 5vh !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 50% !important;
}

.searchButton:hover{
    border-color: red !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.4) !important;
}

.info-div{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.link{
    color:#eb6b76;
}

.picture{
    width: 70%;
    height: 96%;
    object-fit: cover;
    border-radius: 10px;
}

.alerts{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78vh;
}

.successStyle{
    display: flex;
    justify-content: space-between;
}

.alertss{
    height: 40%;
    width: 60%;
    border:0.25rem solid #4e191f !important;
    display: flex;
    justify-content: center;
    align-items: center;
}